@model IAsyncEnumerable<ProjetoWebSales.Models.Seller>


@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                
            </th>
        </tr>
    </thead>
</table>